body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
	
h1, h2, h3, h4, h5, h6, p, label {
	margin: 10px 0px 10px 0px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: 300;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 17px;
}
h3 {
	font-size: 15px;
}
h4 {
	font-size: 14px;
}
p {
	font-size: 16px;
}
li {
	list-style: none;
	padding-bottom: 5px;
}
label {
	font-size: 16px;
}
.color {
	background-color: green;
}
.center {
	display:flex;
    justify-content:center;
}
.centerAlign {
	display:flex;
    align-items: center;
}
.centerAll {
	display:flex;
    justify-content:center;
    align-items: center;
}
.positionCenter {
	align-self: center;
}
.positionBottom {
	align-self: baseline;
}
.mrg {
	margin-left: 10%;
}

.mrgs {
	margin: 0 2% 0 2%;
}
.headerTop {
	height: 4px;
	background-color: #165190;
}
.headerNav {
	height:105px;
	background-color: #3E3E3F;
}
.slider {
  background-image: -moz-linear-gradient( 90deg, rgb(196,195,195) 0%, rgb(246,244,245) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(196,195,195) 0%, rgb(246,244,245) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(196,195,195) 0%, rgb(246,244,245) 100%);
  height: 273px;
}
.sliderBottom{
  background-color: #3E3E3F;
  height: 26px;
}
.slider1 {
	background-image: url('../assets/slider1.png');
	background-repeat: no-repeat;
	height: 273px;
}
.baner{
  background-image: -moz-linear-gradient( 90deg, rgb(13,52,95) 0%, rgb(20,128,201) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(13,52,95) 0%, rgb(20,128,201) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(13,52,95) 0%, rgb(20,128,201) 100%);
  height: 152px;
  color: white;
}
.pBaner {
	font-size: 16px;
	font-weight: 300;
}
.mBaner {
	margin-top: 27px;
	margin-left: 70px;
}
.content {
  background-color: white;
  height: 500px;
}
/* Margines między przyciskami*/
.bt {
	margin-top: 5px;
}
.contentLogin {
	margin: 50px 0 0 0;
	background-color: white;
}
.contentLoginRegulamin {
	margin: 70px 0 278px 0 ;
	text-align: center;
}
.materialy {
  background-color: rgb(234, 234, 234);
  height: 310px;
}
.footer {
	position: fixed;
	bottom: 0;
}
.footerPrawa {
  background-color: rgb(234, 234, 234);
  height: 60px;
}
.footerP {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.footerColor {
	background-color: #C7C6C6;
}
.footerBottom {
	height: 4px;
	background-color: #165190;
}
.login {
	margin-left: 35px;
}
#logowanie {
	margin: 20px 0 150px 0;
}
#logowanie > h1 {
	margin: 30px 0 15px 0;
	color: #165190;
}
.zapo {
	margin-left: 48px;
}
.przypmnij {
	margin: 0px 0 240px 0;
}
.przypmnij >div > h1 {
	color: #de7602;
}
.przypmnij >div > p {
	color: #de7602;
}
#sel1 {
	margin-left: 10px;
}
#sel1 > h1 {
	margin: 40px 0 5px 0;
	color: #de7602;
}
#sel1 > h2 {
	margin: 5px 0 20px 0;
	color: #de7602;
	font-size: 90%;
}
#sel1 > h2 > span {
	font-weight: 400;
}
#sel2 {
	margin: 0 0 40px 10px;
}
.btnj {
	border-radius: 0px;
}
.btn-default-j{
	background-color: #165190;
	border-color: #0D325C;
}
.btn-default-j:hover {
  background-color: #114270;
  border-color: #0A2645;
}
.btn-default-j:active:hover {
  background-color: #C85100;
  border-color: #B95900;
}
.btn-default-j:active:focus {
  background-color: #C85100;
  border-color: #B95900;
}
.btn-default-j.disabled {
  background-color: #C85100;
  border-color: #B95900;
}
/* Margines dół */
.btnprz {
	padding 0 0 200px 0;
}
/* Formularz blad */
.error{
	color: red;	
}
/* Statut zalogowania*/
.stat {
	margin: 22px 0 0 70px;
	color: #DAEBFA;
	font-size: 90%;
	font-weight: 300;
}
.stat > span {

	color: #3583E4;
}
/* Nawigacja */
nav {
	margin: 10px 0 0 0;
}
nav ul {
	margin-left: 60px;
}
nav ul li {
	float: left;
}
nav ul a {
	display: block;
	vertical-align: middle;
	border-right: 1px solid #5c524e;
	border-left: 1px solid #2e2825;
	/*background: url("../assets/menuLine.png") right center no-repeat;*/
	margin: 0 0 0px 0;
	height: 52px;
	padding: 0 18px 0 18px;
	color: white;
	line-height: 52px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
}
nav>ul>li>a:first-child {
	border-left: none;
}
nav>ul>li>a:last-child {
	border-right: none;
}
nav > ul> li:hover {
	background-color: #606061;
}
nav > ul> li> a:hover{
	text-decoration: none;
	color: white;
}
nav > ul> li> a:focus{
	text-decoration: none;
	color: white;
	background-color: #606061;
}
nav > ul> li:focus{
	background-color: #606061;
}
/* Kursy */
.content1 {
	margin: 35px 0 0 0;
}
.content1 > h1 {
	margin: 0 0 20px 0;
	color: #195C9C;
}
.content2 {
	margin: 15px 0 110px 0;
}
.content2 >h2 {
	text-decoration: none;
	color: #165190;
}
/* Tabele */
table {
    border-collapse: separate;
    border-spacing: 1px;
}

th, td {
padding: 7px 10px 10px 10px;}
th {
	background-color: #165190;
	color: white;
	letter-spacing: 0.1em;
	font-size: 110%;
	font-weight: 300;
	border-bottom: 8px solid white;
	text-align: left;
}
td {
	font-size: 110%;
	font-weight: 300;
}
tr {
	background-color: #c4c3c3;
}
tr:hover {
	background-color: ##B3D5DF;
}
// .content1 > table > tbody > tr:nth-child(2) {
// 	background-color: #125A9E;
// 	color: white;
// }
.content1 > table > tbody > tr>td>a {
	text-decoration: none;
	color: black;
}
.content1 > table > tbody > tr>td>a:hover {
	color: #165190;

}
/* Materiały */
.mat {
	background-color: #eaeaea;
}
.mat1 {
	margin-bottom: 55px;
}
.mat1 > h1 {
	margin: 36px 0 20px 0;
	color: #195C9C;
}
.mat1 > h2 a {
	color: #195C9C;
}
/* Raporty */
.raporty1 {
	margin: 35px 0 130px 0;
}
.raporty1 > h1 {
	margin: 0 0 20px 0;
}
.raporty1 > div > h2 {
	margin: 20px 0 10px 0;
	padding: 6px 0 6px 5px;
	background-color: #c4c3c3;
}


