body {
  font-family:'Open Sans', Arial, Helvetica, sans-serif;
}
  
h1, h2, h3, h4, h5, h6, p, label {

  font-family: 'Open Sans', Arial, Helvetica, sans-serif;

}

.footerPrawa {
  background-color: rgb(234, 234, 234);
  height: 60px;
}

.login .content h3 {
	color: #195C9C !important;
}

.font-green {
	color: #195C9C !important;
}

.btn.green:not(.btn-outline) {
    color: #FFF;
    background-color: #195C9C;
    border-color: #195C9C;
}

.btn.green:not(.btn-outline):hover {
    color: #FFF;
    background-color: #0D345F;
}

.login {
    background-color: #18355A!important;
}

.prawo {
  margin-left: 10px;
}
