<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
        <li class="sidebar-search-wrapper">
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
            <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
            <form class="sidebar-search sidebar-search-bordered" action="#" method="POST">
                <a href="javascript:;" class="remove">
                    <i class="icon-close"></i>
                </a>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <a href="javascript:;" class="btn submit">
                            <i class="icon-magnifier"></i>
                        </a>
                    </span>
                </div>
            </form>
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        <li class="start nav-item">
            <a href="#/dashboard.html">
                <i class="icon-home"></i>
                <span class="title">Pulpit</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-user"></i>
                <span class="title">Użytkownicy</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/users">
                        <span>Edycja profili</span>
                    </a>
                </li>
                <li>
                    <a href="#/user/create">
                        <span>Dodaj użytkownika</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="#/usuwanie">
                        <i class="user-del"></i> Usuń użytkownika</span>
                    </a>
                </li> -->
            </ul>
        </li>


        <!-- <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-users"></i>
                <span class="title">Grupy</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/grupy">
                        <span>Utworzone grupy</span>
                    </a>
                </li>
                <li>
                    <a href="#/grupy/dodaj">
                        <span>Dodaj grupę</span>
                    </a>
                </li>
            </ul>
        </li>
 -->
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-graduation"></i>
                <span class="title">Kursy</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/kursy">
                        <span>Lista kursów</span>
                    </a>
                </li>
                <li>
                    <a href="#/kursy/dodaj">
                        <span>Dodaj kurs</span>
                    </a>
                </li>
                <li>
                    <a href="#/kursy/uczestnicy">
                        <span>Zapisani uczestnicy</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-bar-chart"></i>
                <span class="title">Raporty</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/zaliczyli">
                        <!-- <i class="icon-check"></i> -->
                        <span class="title">Zaliczyli kurs</span>
                    </a>
                </li>
                <li>
                    <a href="#/inprogress">
                        <!-- <i class="icon-refresh"></i> -->
                        <span class="title">W trakcie kursu</span>
                    </a>
                </li>
                <li>
                    <a href="#/nierozpoczeli">
                        <!-- <i class="icon-notebook"></i> -->
                        <span class="title">Nierozpoczeli kursu</span>
                    </a>
                </li>
                <li>
                    <a href="#/wyniki">
                        <!-- <i class="icon-bar-chart"></i> -->
                        <span class="title">Wyniki szczegółowe</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="#/users/logowanie">
                        <i class="pencil"></i> Ostatnie logowanie</span>
                    </a>
                </li> -->
            </ul>
        </li>

        <li class="nav-item">
            <a href="#/ustawienia">
                <i class="icon-settings"></i>
                <span class="title">Ustawienia</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="#/kontakt">
                <i class="icon-envelope"></i>
                <span class="title">Zgłoszenia problemów</span>
            </a>
        </li>

        <!-- <li class="nav-item">
            <a href="#/ustawienia">
                <i class="icon-settings"></i>
                <span class="title">Ustawienia</span>
            </a>
        </li> -->
        
    </ul>
    <!-- END SIDEBAR MENU -->
</div>