§<!DOCTYPE html>
<html lang="pl">
    
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>Szkoleniowiec | Logowanie</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="assets/pages/css/login.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> 
        <link rel="stylesheet" href="css/styles-login.css"/>
    </head>
    <!-- END HEAD -->

    <body ng-app="app" class=" login">

        <!-- BEGIN LOGO -->
        <div class="logo">
            <img src="assets/pages/img/logo-big.png" alt="" />
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div ng-controller="login" class="content">

            <!-- BEGIN LOGIN FORM -->
            <form ng-submit="formSubmit( user )" class="login-form">

                <h3 class="form-title font-green">Logowanie</h3>

                <div ng-if="error" class="alert alert-danger">
                    <button class="close" data-close="alert"></button>
                    <span> {{error}} </span>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : error }">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Login</label>
                    <input ng-model="user.username" class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Wpisz login" name="email" /> </div>

                <div class="form-group" ng-class="{ 'has-error' : error }">
                    <label class="control-label visible-ie8 visible-ie9">Hasło</label>
                    <input ng-model="user.password" class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Wpisz hasło" name="password" /> </div>

                <div class="form-actions">
                    <button type="submit" class="btn green uppercase">Zaloguj</button>
                    <a href="http://altkom.e-kei.pl/szkoleniowiec-demo/" class="btn default prawo">Dostęp jako gość</a>
                </div>

                <div class="create-account">
                    <br>
                </div>

            </form>

        </div>

        <div class="copyright"> 2016 © Szkoleniowiec Poznań </div>


        
    <!-- ==================== Java Script ============================ -->

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.5/angular-route.min.js"></script>
    <script src="https://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
    <script src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
    <script src="https://code.angularjs.org/1.5.5/angular-cookies.min.js"></script>
    
    <script src="app/application.js"></script>
    <script src="app/controllers.js"></script>
    <script src="app/services.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


        <!-- END JAVASCRIPTS -->


        <!-- END THEME LAYOUT SCRIPTS -->
    </body>

</html>