<!-- kursy -->
<div class="row">
            <div class="col-xs-12">
                        <div class="col-xs-12" ng-controller="userPass">
                            <div class="content1">
                                <h1 >Twoje kursy</h1>
                                <table>
                                        <tr>
                                            <th>Nazwa</th>
                                            <th>Status</th>
                                            <th>Uruchom szkolenie</th>
                                        </tr>
                                         <tr ng-hide="user.kurs1 == 0">
                                            <td>Moduł I. Część ogólna</td>
                                            <td>{{coursePointsA1}}</td>
                                            <td><a href="kurs/kurs1/m1">Start</a></td>
                                        </tr>
                                        <tr ng-hide="user.kurs2 == '0'">
                                            <td>Moduł I. Część ogólna. Test</td>
                                            <td>{{testPointsB}}</td>
                                            <td><a href="kurs/kurs1/m2">Start</a></td>
                                        </tr>
                                        <tr ng-hide="user.kurs3 == 0">
                                            <td>Moduł II. Pierwsza pomoc</td>
                                            <td>{{coursePointsC1}}</td>
                                            <td><a href="kurs/kurs1/m3">Start</a></td>
                                        </tr>
                                        <tr ng-hide="user.kurs4 == 0">
                                            <td>Moduł II. Pierwsza pomoc.Test</td>
                                            <td>{{testPointsD}}</td>
                                            <td><a href="kurs/kurs1/m4">Start</a></td>
                                        </tr>
                                        <tr ng-hide="user.kurs5 == 0">
                                            <td>Moduł III. Praca na stanowisku administracyjno - biurowym</td>
                                            <td>{{coursePointsE1}}</td>
                                            <td><a href="kurs/kurs1/m5">Start</a></td>
                                        </tr>
                                        <tr ng-hide="user.kurs6 == 0">
                                            <td>Moduł III. Praca na stanowisku administracyjno - biurowym. Test</td>
                                            <td>{{testPointsF}}</td>
                                            <td><a href="kurs/kurs1/m6">Start</a></td>
                                        </tr>
                                        <tr ng-hide="user.kurs7 == 0">
                                            <td>Moduł IV. Środowisko pracy</td>
                                            <td>{{coursePointsG1}}</td>
                                            <td><a href="kurs/kurs1/m7">Start</a></td>
                                        </tr>
                                        <tr ng-hide="user.kurs8 == 0">
                                            <td>Moduł V. Szkolenie okresowe BHP dla pracowników inżynieryjno - technicznych. Metodyka szkoleń.  </td>
                                            <td>{{coursePointsH1}}</td>
                                            <td><a href="kurs/kurs1/m8">Start</a></td>
                                        </tr>
                                        <tr ng-hide="user.kurs9 == 0">
                                            <td> Moduł VI. Szkolenie okresowe BHP dla pracowników inżynieryjno - technicznych. Obiekty budowlane i pomieszczenia pracy.  </td>
                                            <td>{{coursePointsI1}}</td>
                                            <td><a href="kurs/kurs1/m9">Start</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
            </div>
    </div>
    <!-- end kursy -->

    <!-- materiały -->
<br><br><br><br><br><br><br><br><br>
<div ng-include="'views/material.html'"></div>