<!-- footer -->
    <div class="row">
            <div class="col-xs-12">
                    <div class="row footerColor">
                          <div class="col-xs-12 ">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 center"> 
                                        <p class="footerP">Prawa autorskie Szkoleniowiec Sp. z o.o. &copy; 2016</p>
                                        </div>
                                    </div>
                                </div>
                          </div>
                     </div>
                    <div class="row">
                          <div class="col-xs-12 footerBottom"></div>
                    </div>
            </div>
    </div>