<!-- header 1 -->
      <div class="row">
          <div class="col-xs-12 headerTop"></div>
      </div>
      <div class="row">
          <div class="col-xs-12 headerNav"> 
                    <div class="stat">Zalogowany użytkownik: <span>{{username}}</span></div>
                    <nav>
                        <ul>
                            <li><a href="#/index">Start</a></li>
                            <li><a href="#/raporty">Raporty</a></li>
                            <li><a href="#/profil">Twój profil</a></li>
                            <li><a href="#/pomoc">Pomoc</a></li>
                            <li><a href="login.html" ng-click="logout()">Wyloguj</a></li>
                        </ul>
                    </nav>
          </div>
      </div>
<!-- header 2 -->
      <div class="row">
              <div class="col-xs-12 slider">
                  <div class="slider1"></div>
              </div>

            <div class="col-xs-12 sliderBottom"></div>
            <div class="col-xs-12 baner">
                        <div class="col-xs-12">
                            <div>
                                <div class="mBaner">
                                    <h1>Witaj na platformie e-learning!</h1>
                                    <p class="pBaner">Drogi Uczestniku, zapraszamy do korzystania ze szkoleń e-learning organizowanych przez Szkoleniowiec Poznań. Innowacyjna i nowoczesna forma szkoleń gwarantuje nabycie potrzebnej wiedzy i umiejętności.</p>
                                </div>
                            </div>
                        </div>
            </div>
    </div>