﻿ <div class="row">

            <div class="col-xs-12">
                    <div class="container">
                        <div class="col-xs-12">
                            <div class="content1">
                                <h1 >Pomoc do kursu</h1>

        <!-- Harmonijka -->
        <div class="panel-group" id="accordion">

            <!-- Panel 1 -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                   	Uruchamianie kursu na platformie
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                        <p>W ekranie startowym platformy wybierz kurs. Jeżeli masz aktywny dostęp do kursu kliknij „Start”. Kurs zostanie uruchomiony.</p>
						<img class="media-object" src="assets/pomoc01.png" alt="Przycisk start">
                  </div>
              </div>
            </div>

            <!-- Panel 2 -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                    	Menu platformy
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                  <p>Start – klikając ten przycisk możesz powrócić do ekranu startowego platformy.</p>
                  <p>Raporty – podstrona zawiera szczegółowy raport dotyczący kursu e-learning.</p>
                  <p>Twój profil – na podstronie Twój profil możesz edytować informacje o sobie i dotyczące Twojej firmy. </p>
                  <p>Pomoc – tu znajdziesz najważniejsze informacje, które pomogą Ci w obsłudze platformy i kursu.</p>
                  <p>Wyloguj – kliknij ten przycisk jeżeli chcesz wylogować się z platformy.</p>
                      	
                      	<img class="media-object" src="assets/pomoc02.png" alt="Przycisk start">
                  </div>
              </div>
            </div>

            <!-- Panel 3 -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                    Nawigacja w kursie
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                  		<p>Poruszanie w kursie umożliwiają przyciski: "Dalej" i "Wstecz".</p>
                  </div>
              </div>
            </div>

                      <!-- Panel 4 -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
                    Wylogowanie z platformy
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                  		<p>Ostatnia pozycja w menu głównym platformy to "Wyloguj".</p>
                  		<p>Użyj przycisku "Wyloguj" jeśli chcesz zakończyć pracę na platformie.</p>
                  		<img class="media-object" src="assets/pomoc04.png" alt="Przycisk start">
                  </div>
              </div>
            </div>
                      <!-- Panel 4 -->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse5">
                    Wyjście z kursu
                  </a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse">
                  <div class="panel-body">
                  		<p>Jeżeli chcesz wyjść z kursu kliknij przycisk „Zamknij kurs” w prawym górnym rogu ekranu szkoleniowego. WAŻNE!</p>
                  		<img class="media-object" src="assets/pomoc05.png" alt="Przycisk start">
                  </div>
              </div>
            </div>
          </div>
                                
                            </div>
                        </div>
                    </div>
            </div>
    </div>
    <div>
      <br><br><br>
    </div>
<!-- materiały -->
    <div class="row">
            <div class="col-xs-12 mat">
                <div class="container">
                        <div class="col-xs-9 mat">
                                <div class="mat1">
                                    <h1>Materiały pomocy do pobrania</h1>
                                    <h2><a target="_blank" href="help/pomocKurs_v1.pdf">Pomoc do kursu</a></h2>
                                    <p><span>Pomoc do kursu w formacie PDF.</span> Zawiera materiał pomocy z którym możesz zapoznać się on-line na tej stronie.
                                    </p>
                                </div>
                        </div>
                </div>
            </div>
    </div>
