<form ng-submit="formSubmit(user)">
<div class="container">
  <div class="row">
    <div class="col-sm-6 center-block">

      <div class="alert alert-success" ng-if="success">Zarejestrowałeś się pomyślnie. Możesz się <a href="#/login" class="alert-link ng-if="success"">zalogować</a></div>

      <div class="panel panel-default" ng-if="!success">

        <div class="panel-heading">
          <h3 class="panel-title"><strong>Rejestracja</strong></h3>
        </div>

        <div class="panel-body">

           <div class="form-grup" ng-class="{'has-error':errors.name, 'has-success': !errors.name && submit && !success}">
                    <label>Imię użytkownika</label>
                    <input type="text" class="form-control" ng-model="user.name" placeholder="Jak się do Ciebie zwracać?">
                    <span class="text-danger">{{errors.name}}</span>
                    <br>
            </div>


            <div class="form-grup" ng-class="{'has-error':errors.email, 'has-success': !errors.email && submit && !success}">
                    <label>E-mail</label>
                    <input type="text" class="form-control" ng-model="user.email" placeholder="Twój adres e-mail">
                    <span class="text-danger">{{errors.email}}</span>
                    <br>
            </div>
            

            <div class="form-grup" ng-class="{'has-error':errors.password, 'has-success': !errors.password && submit && !success}">
                    <label>Hasło</label>
                    <input type="password" class="form-control" ng-model="user.password" placeholder="Twoje hasło">
                    <span class="text-danger">{{errors.password}}</span>
                    <br>
            </div>

            <div class="form-grup" ng-class="{'has-error':errors.passconf, 'has-success': !errors.passconf && submit && !success}">
                    <label>Powtórz hasło</label>
                    <input type="password" class="form-control" ng-model="user.passconf" placeholder="Powtórz hasło">
                    <span class="text-danger">{{errors.passconf}}</span>
                    <br>
            </div>         

          <br>

          <button class="btn btn-primary btn-block">Zarejestruj się</button>

        </div>
      </div>

    </div>
  </div>
</div>
</form>