<form ng-submit="saveChanges(user)">
<div class="container">
    <div class="row">
       <div class="col-sm-6">

            <div>
                <br>
                <h1>Edycja profilu</h1>
            </div>
            
            <div class="alert alert-success" ng-if="success">Profil został pomyślnie zmieniony.</div>
            <div class="form-grup" ng-class="{'has-error':errors.username, 'has-success': !errors.username && submit && !success}">
                    <label>Nazwa użytkownika</label>
                    <input type="text" class="form-control" ng-model="user.username">
                    <span class="text-danger">{{errors.username}}</span>
                    <br>
            </div>

            <div class="form-grup" ng-class="{'has-error':errors.password, 'has-success': !errors.password && submit && !success}">
                    <label>Nowe hasło</label>
                    <input type="password" class="form-control" ng-model="user.password">
                    <span class="text-danger">{{errors.password}}</span>
                    <br>
            </div>

            <div class="form-grup" ng-class="{'has-error':errors.firstname, 'has-success': !errors.firstname && submit && !success}">
                    <label>Imię użytkownika</label>
                    <input type="text" class="form-control" ng-model="user.firstname">
                    <span class="text-danger">{{errors.firstname}}</span>
                    <br>
            </div>

            <div class="form-grup" ng-class="{'has-error':errors.lastname, 'has-success': !errors.lastname && submit && !success}">
                    <label>Nazwisko użytkownika</label>
                    <input type="text" class="form-control" ng-model="user.lastname">
                    <span class="text-danger">{{errors.lastname}}</span>
                    <br>
            </div>


            <div class="form-grup" ng-class="{'has-error':errors.email, 'has-success': !errors.email && submit && !success}">
                    <label>E-mail</label>
                    <input type="text" class="form-control" ng-model="user.email">
                    <span class="text-danger">{{errors.email}}</span>
                    <br>
            </div>
            <div class="form-grup" ng-class="{'has-error':errors.email, 'has-success': !errors.email && submit && !success}">
                    <label>Organizacja</label>
                    <input type="text" class="form-control" ng-model="user.firma">
                    <span class="text-danger">{{errors.firma}}</span>
                    <br>
                    <br>
            </div>


    </div>
    
        <div class="row">
         <div class="col-sm-12">
                <button type="submit" class="btn btn-success">Zapisz zmiany</button>
                <a href="#/index" class="btn btn-default">Wróć bez zmian</a>
         </div>
    </div>

</div> 
</form>