<form ng-submit="createUser(user)">
<div class="container">
    <div class="row">
       <div class="col-sm-6">

            <div class="alert alert-success" ng-if="success">Użytkownik został pomyślnie dodany.</div>

            <div class="form-grup" ng-class="{'has-error':errors.name, 'has-success': !errors.name && submit && !success}">
                    <label>Imię użytkownika</label>
                    <input type="text" class="form-control" ng-model="user.name">
                    <span class="text-danger">{{errors.name}}</span>
                    <br>
            </div>


            <div class="form-grup" ng-class="{'has-error':errors.email, 'has-success': !errors.email && submit && !success}">
                    <label>E-mail</label>
                    <input type="text" class="form-control" ng-model="user.email">
                    <span class="text-danger">{{errors.email}}</span>
                    <br>
            </div>
            

            <div class="form-grup" ng-class="{'has-error':errors.password, 'has-success': !errors.password && submit && !success}">
                    <label>Hasło</label>
                    <input type="password" class="form-control" ng-model="user.password">
                    <span class="text-danger">{{errors.password}}</span>
                    <br>
            </div>

            <div class="form-grup" ng-class="{'has-error':errors.passconf, 'has-success': !errors.passconf && submit && !success}">
                    <label>Powtórz hasło</label>
                    <input type="password" class="form-control" ng-model="user.passconf">
                    <span class="text-danger">{{errors.passconf}}</span>
                    <br>
            </div>

            <div class="form-grup">
                    <label>Rola</label>
                    <select class="form-control" ng-model="user.role">
                        <option value="user">user</option>
                        <option value="admin">admin</option>
                    </select>
                    <br>
            </div>

        </div> 
    </div>
    
        <div class="row">
         <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Dodaj użytkownika</button>
                <a href="#/users" class="btn btn-primary">Wróć bez zmian</a>
         </div>
    </div>

</div> 
</form>