<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Edycja kursu</a>
        </li>
    </ul>

</div>

<form ng-submit="saveChanges(course)">
<div class="container">
    <div class="row">
       <div class="col-sm-6">

            <div>
                <h2>Edycja kursu</h2>
                <br>
            </div>
            
            <div class="alert alert-success" ng-if="success">Zmiany zostały pomyślnie zapisane.</div>

                <div class="form-grup" ng-class="{'has-error':errors.nazwa, 'has-success': !errors.nazwa && submit && !success}">
                        <label>Nazwa kursu</label>
                        <input type="text" class="form-control" ng-model="course.nazwa">
                        <span class="text-danger">{{errors.nazwa}}</span>
                        <br>
                </div>

                <div class="form-grup" ng-class="{'has-error':errors.opis, 'has-success': !errors.opis && submit && !success}">
                        <label>Opis</label>
                        <input type="text" class="form-control" ng-model="course.opis">
                        <span class="text-danger">{{errors.opis}}</span>
                        <br>
                </div>

        </div> 
    </div>
    
        <div class="row">
         <div class="col-sm-12">
                <button type="submit" class="btn btn-success">Zapisz zmiany</button>
                <a href="#/courses" class="btn btn-default">Wróć bez zmian</a>
         </div>
    </div>

</div> 
</form>