<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Dodaj kurs</a>
        </li>
    </ul>

</div>

<h3 class="page-title"> Dodaj kurs </h3>


<form ng-submit="createCourse(course)">
    <div class="row">
       <div class="col-sm-10">

            <div class="alert alert-success" ng-if="success">Kurs został pomyślnie dodany.</div>

            <div class="form-grup" ng-class="{'has-error':errors.nazwa, 'has-success': !errors.nazwa && submit && !success}">
                    <label>Nazwa kursu</label>
                    <input type="text" class="form-control" ng-model="course.nazwa">
                    <span class="text-danger">{{errors.nazwa}}</span>
                    <br>
            </div>


            <div class="form-grup" ng-class="{'has-error':errors.opis, 'has-success': !errors.opis && submit && !success}">
                    <label>Opis</label>
                    <input type="text" class="form-control" ng-model="course.opis">
                    <span class="text-danger">{{errors.opis}}</span>
                    <br>
            </div>

        </div> 
    </div>
    
        <div class="row">
         <div class="col-sm-12">
                <button type="submit" class="btn btn-success">Dodaj kurs</button>
                <a href="#/kursy" class="btn btn-default">Lista kursów</a>
         </div>
    </div>

</form>