<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Dodane kursy</a>
        </li>
    </ul>

</div>

<h3 class="page-title"> Dodane kursy
<span class="label label-default"> {{courses.length}} </span>

</h3>
	
	<div class="row">
        
        <div class="col-sm-12">
            <input type="text" class="form-control" placeholder="Szukaj..." ng-model="search">
        </div>
        

    </div>

	<div class="row">
		<br>
		
		<div class="col-sm-12">

			<table class="table table-hover">
				<thead>
					<tr>

						<th>Lp.</th>
						<th>Nazwa kursu</th>
						<th>Opis</th>					
						
					</tr>
				</thead>

				<tbody ng-repeat="course in courses | filter:search">
					<tr>
						
						<td>{{$index+1}}.</td>
						<td>{{course.nazwa}}</td>
						<td>{{course.opis}}</td>
						
						<td><a href="#/kursy/edycja/{{course.course_id}}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-pencil"></span></a></td>

					</tr>
				</tbody>
			</table>

		</div>

	</div>