<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Pulpit</a>
        </li>
    </ul>
</div>
<h3 class="page-title"> Pulpit </h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">
    <!-- BEGIN DASHBOARD STATS -->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details" ng-controller="statUsers">
                    <div class="number"> {{users}} </div>
                    <div class="desc">Wszystkich użytkowników</div>
                </div>
                <a class="more" href="#/users"> Zobacz więcej
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-line-chart"></i>
                </div>
                <div class="details" ng-controller="statUsersZal">
                    <div class="number"> {{users}} </div>
                    <div class="desc">Zaliczyli kurs</div>
                </div>
                <a class="more" href="#/zaliczyli"> Zobacz więcej
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-hourglass-2"></i>
                </div>
                <div class="details" ng-controller="statUsersNo">
                    <div class="number"> {{users}}</div>
                    <div class="desc"> W trakcie </div>
                </div>
                <a class="more" href="#/inprogress"> Zobacz więcej
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue-steel">
                <div class="visual">
                    <i class="fa fa-power-off"></i>
                </div>
                <div class="details" ng-controller="statUsersNoStart">
                    <div class="number"> {{users}} </div>
                    <div class="desc">Nie rozpoczęli</div>
                </div>
                <a class="more" href="#/nierozpoczeli"> Zobacz więcej
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- END DASHBOARD STATS -->
    
            <!-- END PORTLET-->
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->