<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Utworzone grupy</a>
        </li>
    </ul>

</div>

<h3 class="page-title"> Utworzone grupy </h3>
	
	<div class="row">
        
        <div class="col-sm-12">
            <input type="text" class="form-control" placeholder="Szukaj..." ng-model="search">
        </div>
        

    </div>

	<div class="row">
		<br>
		
		<div class="col-sm-12">

			<table class="table table-hover">
				<thead>
					<tr>

						<th>Lp.</th>
						<th>Nazwa grupy</th>
						<th>Organizacja</th>
						<th>Opis</th>					
						
					</tr>
				</thead>

				<tbody ng-repeat="group in groups | filter:search">
					<tr>
						
						<td>{{$index+1}}.</td>
						<td>{{group.nazwa}}</td>
						<td>{{group.organizacja}}</td>
						<td>{{group.opis}}</td>
						
						<td><a href="#/grupy/edycja/{{group.group_id}}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-pencil"></span></a></td>

					</tr>
				</tbody>
			</table>

		</div>

	</div>