<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Edycja grupy</a>
        </li>
    </ul>

</div>

<form ng-submit="saveChanges(group)">
<div class="container">
    <div class="row">
       <div class="col-sm-6">

            <div>
                <h2>Edycja grupy</h2>
                <br>
            </div>
            
            <div class="alert alert-success" ng-if="success">Zmiany zostały pomyślnie zapisane.</div>

                <div class="form-grup" ng-class="{'has-error':errors.nazwa, 'has-success': !errors.nazwa && submit && !success}">
                        <label>Nazwa grupy</label>
                        <input type="text" class="form-control" ng-model="group.nazwa">
                        <span class="text-danger">{{errors.nazwa}}</span>
                        <br>
                </div>

                <div class="form-grup" ng-class="{'has-error':errors.organizacja, 'has-success': !errors.organizacja && submit && !success}">
                        <label>Nazwa organizacji (np.nazwa firmy klienta)</label>
                        <input type="organizacja" class="form-control" ng-model="group.organizacja">
                        <span class="text-danger">{{errors.organizacja}}</span>
                        <br>
                </div>

                <div class="form-grup" ng-class="{'has-error':errors.opis, 'has-success': !errors.opis && submit && !success}">
                        <label>Opis</label>
                        <input type="text" class="form-control" ng-model="group.opis">
                        <span class="text-danger">{{errors.opis}}</span>
                        <br>
                </div>

        </div> 
    </div>
    
        <div class="row">
         <div class="col-sm-12">
                <button type="submit" class="btn btn-success">Zapisz zmiany</button>
                <a href="#/groups" class="btn btn-default">Wróć bez zmian</a>
         </div>
    </div>

</div> 
</form>