<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Dodaj grupę</a>
        </li>
    </ul>

</div>

<h3 class="page-title"> Dodaj grupę </h3>


<form ng-submit="createGroup(group)">
    <div class="row">
       <div class="col-sm-6">

            <div class="alert alert-success" ng-if="success">Grupa została pomyślnie dodana.</div>

            <div class="form-grup" ng-class="{'has-error':errors.nazwa, 'has-success': !errors.nazwa && submit && !success}">
                    <label>Nazwa grupy</label>
                    <input type="text" class="form-control" ng-model="group.nazwa">
                    <span class="text-danger">{{errors.nazwa}}</span>
                    <br>
            </div>

            <div class="form-grup" ng-class="{'has-error':errors.organizacja, 'has-success': !errors.organizacja && submit && !success}">
                    <label>Nazwa organizacji (np.nazwa firmy klienta)</label>
                    <input type="organizacja" class="form-control" ng-model="group.organizacja">
                    <span class="text-danger">{{errors.organizacja}}</span>
                    <br>
            </div>

            <div class="form-grup" ng-class="{'has-error':errors.opis, 'has-success': !errors.opis && submit && !success}">
                    <label>Opis</label>
                    <input type="text" class="form-control" ng-model="group.opis">
                    <span class="text-danger">{{errors.opis}}</span>
                    <br>
            </div>

        </div> 
    </div>
    
        <div class="row">
         <div class="col-sm-12">
                <button type="submit" class="btn btn-success">Dodaj grupę</button>
                <a href="#/groups" class="btn btn-default">Lista grup</a>
         </div>
    </div>

</form>