<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Zgłoszenia problemów</a>
        </li>
    </ul>

</div>
<h3 class="page-title"> Zgłoszenia problemów </h3>
	
	<div class="row">
        
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Szukaj..." ng-model="search">
        </div>
        

    </div>

	<div class="row">
		<br>
		
		<div class="col-sm-12">

			<table class="table table-hover">
				<thead>
					<tr>

						<th>Lp.</th>
						<th>Imię</th>
						<th>Nazwisko</th>
						<th>E-mail</th>
						<th>Temat</th>
						<th>Problem</th>
						
					</tr>
				</thead>

				<tbody ng-repeat="user in users | filter:search">
					<tr>
						
						<td>{{$index+1}}.</td>
						<td>{{user.firstname}}</td>
						<td>{{user.lastname}}</td>
						<td>{{user.email}}</td>
						<td>{{user.temat}}</td>
						<td>{{user.problem}}</td>
						
						<td><a href="#/user/edit/{{user.user_id}}" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-pencil"></span></a></td>

					</tr>
				</tbody>
			</table>

		</div>

	</div>

