<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">W trakcie kursu</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true"> Actions
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-user"></i> New User </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-present"></i> New Event
                        <span class="badge badge-success">4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-basket"></i> New order </a>
                </li>
                <li class="divider"> </li>
                <li>
                    <a href="#">
                        <i class="icon-flag"></i> Pending Orders
                        <span class="badge badge-danger">4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-users"></i> Pending Users
                        <span class="badge badge-warning">12</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<h3 class="page-title"> W trakcie kursu  </h3>
	
	<div class="row">
        
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Szukaj..." ng-model="search">
        </div>
        

    </div>

	<div class="row">
		<br>
		
		<div class="col-sm-12">

			<table class="table table-hover">
				<thead>
					<tr>

						<th>Lp.</th>
						<th>Nazwa</th>
						<th>Imię</th>
						<th>Nazwisko</th>
						<th>E-mail</th>
						
						
					</tr>
				</thead>

				<tbody ng-repeat="user in users | filter:search">
					<tr>
						
						<td>{{$index+1}}.</td>
						<td>{{user.username}}</td>
						<td>{{user.firstname}}</td>
						<td>{{user.lastname}}</td>
						<td>{{user.email}}</td>
						
						<td><a href="#/user/edit/{{user.user_id}}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a></td>
						<td><button ng-click="delete(user, $index)" class="btn btn-danger pull-right btn-sm"><span class="glyphicon glyphicon-trash"></span></button></td>

					</tr>
				</tbody>
			</table>

		</div>

	</div>
