<div class="container">

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Usuń użytkownika</a>
        </li>
    </ul>

</div>
<h3 class="page-title"> Usuń użytkownika  </h3>
	
	<div class="row">
        
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Szukaj..." ng-model="search">
        </div>

    </div>

	<div class="row">
		<br>
		
		<div class="col-sm-12">

			<table class="table table-hover">
				<thead>
					<tr>

						<th>Lp.</th>
						<th>Nazwa</th>
						<th>Imię</th>
						<th>Nazwisko</th>
						<th>E-mail</th>
						
						
					</tr>
				</thead>

				<tbody ng-repeat="user in users | filter:search">
					<tr>
						
						<td>{{$index+1}}.</td>
						<td>{{user.username}}</td>
						<td>{{user.firstname}}</td>
						<td>{{user.lastname}}</td>
						<td>{{user.email}}</td>
						
						<td><button ng-click="delete(user, $index)" class="btn btn-danger pull-right btn-sm"><span class="glyphicon glyphicon-trash"></span></button></td>

					</tr>
				</tbody>
			</table>

		</div>

	</div>


	
</div>