<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Edycja użytkownika</a>
        </li>
    </ul>

</div>

<form ng-submit="saveChanges(user)">
<div class="container">
    <div class="row">
       <div class="col-sm-10">

            <div>
                <h2>Edycja użytkownika</h2>
                <br>
            </div>
            
            <div class="alert alert-success" ng-if="success">Użytkownik został pomyślnie zmodyfikowany.</div>
            <div class="form-grup" ng-class="{'has-error':errors.username, 'has-success': !errors.username && submit && !success}">
                    <label>Nazwa użytkownika</label>
                    <input type="text" class="form-control" ng-model="user.username">
                    <span class="text-danger">{{errors.username}}</span>
                    <br>
            </div>

            <div class="form-grup" ng-class="{'has-error':errors.password, 'has-success': !errors.password && submit && !success}">
                    <label>Nowe hasło</label>
                    <input type="password" class="form-control" ng-model="user.password">
                    <span class="text-danger">{{errors.password}}</span>
                    <br>
            </div>

            <div class="form-grup" ng-class="{'has-error':errors.firstname, 'has-success': !errors.firstname && submit && !success}">
                    <label>Imię użytkownika</label>
                    <input type="text" class="form-control" ng-model="user.firstname">
                    <span class="text-danger">{{errors.firstname}}</span>
                    <br>
            </div>

            <div class="form-grup" ng-class="{'has-error':errors.lastname, 'has-success': !errors.lastname && submit && !success}">
                    <label>Nazwisko użytkownika</label>
                    <input type="text" class="form-control" ng-model="user.lastname">
                    <span class="text-danger">{{errors.lastname}}</span>
                    <br>
            </div>


            <div class="form-grup" ng-class="{'has-error':errors.email, 'has-success': !errors.email && submit && !success}">
                    <label>E-mail</label>
                    <input type="text" class="form-control" ng-model="user.email">
                    <span class="text-danger">{{errors.email}}</span>
                    <br>
            </div>
            <div class="form-grup" ng-class="{'has-error':errors.email, 'has-success': !errors.email && submit && !success}">
                    <label>Organizacja</label>
                    <input type="text" class="form-control" ng-model="user.firma">
                    <span class="text-danger">{{errors.firma}}</span>
                    <br>
            </div>

                <div class="form-grup">
                    <label>
                    <input type="checkbox" class="make-switch" ng-model="user.kurs1" ng-true-value="'1'" ng-false-value="'0'"> Moduł I. Część ogólna
                    </label>
                    <br>
                    <br>
                </div>

                <div class="form-grup">
                    <label>
                    <input type="checkbox" class="make-switch" ng-model="user.kurs2" ng-true-value="'1'" ng-false-value="'0'"> Moduł I. Część ogólna. Test
                    </label>
                    <br>
                    <br>
                </div>

                <div class="form-grup">
                    <label>
                    <input type="checkbox" class="make-switch" ng-model="user.kurs3" ng-true-value="'1'" ng-false-value="'0'"> Moduł II. Pierwsza pomoc
                    </label>
                    <br>
                    <br>
                </div>

                <div class="form-grup">
                    <label>
                    <input type="checkbox" class="make-switch" ng-model="user.kurs4" ng-true-value="'1'" ng-false-value="'0'"> Moduł II. Pierwsza pomoc.Test
                    </label>
                    <br>
                    <br>
                </div>

                <div class="form-grup">
                    <label>
                    <input type="checkbox" class="make-switch" ng-model="user.kurs5" ng-true-value="'1'" ng-false-value="'0'">  Moduł III. Praca na stanowisku administracyjno biurowym
                    </label>
                    <br>
                    <br>
                </div>

                <div class="form-grup">
                    <label>
                    <input type="checkbox" class="make-switch" ng-model="user.kurs6" ng-true-value="'1'" ng-false-value="'0'"> Moduł III. Praca na stanowisku administracyjno biurowym. Test
                    </label>
                    <br>
                    <br>
                </div>

                <div class="form-grup">
                    <label>
                    <input type="checkbox" class="make-switch" ng-model="user.kurs7" ng-true-value="'1'" ng-false-value="'0'"> Moduł IV. Środowisko pracy
                    </label>
                    <br>
                    <br>
                </div>

                <div class="form-grup">
                    <label>
                    <input type="checkbox" class="make-switch" ng-model="user.kurs8" ng-true-value="'1'" ng-false-value="'0'"> Moduł V. Szkolenie okresowe BHP dla pracowników inżynieryjno - technicznych. Metodyka szkoleń.
                    </label>
                    <br>
                    <br>
                </div>

                <div class="form-grup">
                    <label>
                    <input type="checkbox" class="make-switch" ng-model="user.kurs9" ng-true-value="'1'" ng-false-value="'0'"> Moduł VI. Szkolenie okresowe BHP dla pracowników inżynieryjno - technicznych. Obiekty budowlane i pomieszczenia pracy.
                    </label>
                    <br>
                    <br>
                </div>

        </div> 
    </div>
    
        <div class="row">
         <div class="col-sm-12">
                <button type="submit" class="btn btn-success">Zapisz zmiany</button>
                <a href="#/users" class="btn btn-default">Wróć bez zmian</a>
         </div>
    </div>

</div> 
</form>