<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Wyniki szczegółowe</a>
        </li>
    </ul>

</div>
<h3 class="page-title"> Wyniki szczegółowe</h3>
	
	<div class="row">
        
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Szukaj..." ng-model="search">
        </div>
        

    </div>

	<div class="row">
		<br>
		<div class="col-sm-10">

			<table class="table table-hover">
				<thead>
					<tr>

						<th>Lp.</th>
						<th>Imię</th>
						<th>Nazwisko</th>
						<!--<th>m1</th>-->
						<th>m1p1</th>
						<th>m1p2</th>
						<th>m1p3</th>
						<th>m1p4</th>
						<th>m1p5</th>
						<th>m1p6</th>
						<th>m1p7</th>
						<th>m1p8</th>
						<th>m1p9</th>
						<th>m1p10</th>
						<!--<th>m2</th>-->
						<th>m2p1</th>
						<th>m2p2</th>
						<th>m2p3</th>
						<th>m2p4</th>
						<th>m2p5</th>
						<!--<th>m3</th>-->
						<th>m3p1</th>
						<th>m3p2</th>
						<th>m3p3</th>
						<th>m3p4</th>
						<th>m3p5</th>
						<!--<th>m4</th>-->
							
						
					</tr>
				</thead>

				<tbody ng-repeat="user in users | filter:search">
					<tr>
			
						<td>{{$index+1}}.</td>
						<td>{{user.firstname}}</td>
						<td>{{user.lastname}}</td>
						<!--<td>{{user.a1}}</td>-->
						<td>{{user.b1}}</td>
						<td>{{user.b2}}</td>
						<td>{{user.b3}}</td>
						<td>{{user.b4}}</td>
						<td>{{user.b5}}</td>
						<td>{{user.b6}}</td>
						<td>{{user.b7}}</td>
						<td>{{user.b8}}</td>
						<td>{{user.b9}}</td>
						<td>{{user.b10}}</td>
						<!--<td>{{user.c1}}</td>-->
						<td>{{user.d1}}</td>
						<td>{{user.d2}}</td>
						<td>{{user.d3}}</td>
						<td>{{user.d4}}</td>
						<td>{{user.d5}}</td>
						<!--<td>{{user.e1}}</td>-->
						<td>{{user.f1}}</td>
						<td>{{user.f2}}</td>
						<td>{{user.f3}}</td>
						<td>{{user.f4}}</td>
						<td>{{user.f5}}</td>
						<!--<td>{{user.g1}}</td>-->
						
					</tr>
				</tbody>
			</table>

		</div>

	</div>